{% extends 'HotPotWebsite/base.html' %}
{% load staticfiles %}<!--new file-->

{% block head_block %}
    <link rel="stylesheet" href="{% static 'style/css.css' %}" />
{% endblock %}

{% block body_block %}
    <h1> Hello, welcome to the menu Page!</h1>
    {% if menucategory %}
        <h1>{{menucategory.name}}</h1>
        {% if dishes %}
            <ul>
                {% for dish in dishes %}
                    <li><img src="{% static '/image/view.jpg' %}"></li>
                    <li>{{dish.title}}</li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>No dishes currently in category.</strong>
        {% endif %}
    {% else %}
        <strong> Hello, welcome to the DongFeiDaLieGu! </strong>
    {% endif %}
{% endblock %}