{% extends 'HotPotWebsite/base.html' %}
{% load staticfiles %}<!--new file-->

{% block head_block %}
    <link rel="stylesheet" href="{% static 'style/css.css' %}" />
{% endblock %}

{% block body_block %}
        <div class="main">
        	<div class="what">
        		<div class="text"><p style="text-align:justify; text-justify:inter-ideograph;">
        			Hot pot is a Chinese soup containing a variety of East Asian
					foodstuffs and ingredients, prepared with a simmering pot
 					of soup stock at the dining table. While the hot pot is kept
					simmering, ingredients are placed into the pot and are cooked
					 at the table. Typical hot pot dishes include thinly sliced
					meat, leaf vegetables, mushrooms, wontons, egg dumplings
					, tofu, and seafood. The cooked food is usually eaten with a
					dipping sauce.</p></div>
        	</div>

        	<div id = "scroll_div" class="view" onmousemove="clearMyVar()" onmouseout="mOut(this)">

				<div id="box">
					<ul>
						<li><img src="{% static 'image/show.jpg' %}" width="400px" height="240"></li>
						<li><img src="{% static 'image/price.jpg' %}" width="400px" height="240"></li>
						<li><img src="{% static 'image/instro.jpg' %}" width="400px" height="240"></li>
						<li><img src="{% static 'image/view.jpg' %}" width="400px" height="240"></li>
					</ul>
					<script>
					function myVar(){
						var oBox=document.getElementById('box');
						var oUl=oBox.children[0];
						var aLi=oUl.children;

						oUl.innerHTML+=oUl.innerHTML;
						oUl.style.width=aLi.length*aLi[0].offsetWidth+'px';

						setInterval(function(){
							var l=oUl.offsetLeft+10;
							if(l>=0){
								l=-oUl.offsetWidth/2;
							}
							oUl.style.left=l+'px';
						},150);
					};
					function clearMyVar(){
						clearInterval(myVar);
					};
					window.onload=myVar;
				</script>
				</div>
			</div>
        	<div class="show"><img src="{% static 'image/show.jpg' %}" width="600px"></div>
        	<div class="price"><img src="{% static 'image/price.jpg' %}" width="400px"></div>
{% endblock %}

        
        
