{% extends 'HotPotWebsite/base.html' %}
{% load staticfiles %}<!--new file-->

{% block head_block %}
    <link rel="stylesheet" href="{% static 'style/css.css' %}" />
{% endblock %}

{% block body_block %}
<div class="mainBoard">
    <input type="text"  value="Please Enter Your Name!" size="69"/>
    <br/>
    <input type="text"  value="Please Enter Your Contact Infomation!" size="69"/>
    <br/>
    <textarea rows="10" cols="50">
        Don't you want to say something?
    </textarea>
    <br/>
    Submit: <input type="submit"></input>
    <br/>
    <br/>
   </div>
{% endblock %}