{% extends 'HotPotWebsite/base.html' %}
{% load staticfiles %}<!--new file-->

{% block head_block %}
    <link rel="stylesheet" href="{% static 'style/css.css' %}" />
{% endblock %}

{% block body_block %}
<div class="mainBoard">
	<div class="boardText">
		<h2>Get In Touch</h2>
		<p style="color: rgba(0,0,0,0.5);">Inorder to get in touch use the contect form below</p>
    <input type="text"  value="Please Enter Your Name!" size="69"/>
    <br />
    <input type="text"  value="Please Enter Your Contact Infomation!" size="69"/>
    <textarea rows="10" cols="65" style="background-color:gray;color:white; font-family: arial;">
       write your message here..
    </textarea>
    <br />
    <input type="submit" value="SEND"   style="background-color: rgb(124,206,191);width: 70px; margin-top: 20px;"/>
    <br/>
    <br/>
    </div>
</div>
{% endblock %}